<form [formGroup]="form">
  <div class="booker" fxFlex fxLayout="column" fxLayoutGap="1em">
    <div>
      <label>
        <input
          type="radio"
          [value]="TripType.oneWay"
          [formControl]="form.controls.tripType"
        />
        <span>One Way</span>
      </label>
      <label>
        <input
          type="radio"
          [value]="TripType.return"
          [formControl]="form.controls.tripType"
        />
        <span>Return</span>
      </label>
      <label>
        <input
          type="radio"
          [value]="TripType.multiCity"
          [formControl]="form.controls.tripType"
        />
        <span>Multi City</span>
      </label>
      <span *ngIf="!form.controls.tripType.valid">*</span>
    </div>

    <div>
      <label>
        <input type="checkbox" [formControl]="form.controls.usePoints" />
        <span>Use True Blue Points</span>
      </label>
    </div>

    <div>
      <label>
        <span>Promo Code </span>
        <input [formControl]="form.controls.promoCode" />
      </label>
      <span *ngIf="showValidationErrors && !form.controls.promoCode.valid"
        >*</span
      >
    </div>

    <div>
      <app-passengers
        [showValidationErrors]="showValidationErrors"
        [formControl]="form.controls.passengers"
      ></app-passengers>
    </div>

    <div>
      <app-flight-list
        [formControl]="form.controls.flights"
        [showValidationErrors]="showValidationErrors"
      ></app-flight-list>

      <span *ngIf="showValidationErrors && !form.controls.flights.valid"
        >*</span
      >
    </div>
  </div>
</form>
