<div class="flight" [formGroup]="formGroup" fxLayout="row" fxLayoutGap="1em">
  <div>
    <app-city-pair
      [formControl]="formGroup.controls.cities"
      [showValidationErrors]="showValidationErrors"
    ></app-city-pair>
    <span *ngIf="showValidationErrors && !formGroup.controls.cities.valid"
      >*</span
    >
  </div>
  <div>
    <input type="date" [formControl]="formGroup.controls.departureDate" />
    <span
      *ngIf="showValidationErrors && !formGroup.controls.departureDate.valid"
      >*</span
    >
  </div>
</div>
