<div class="flight" [formGroup]="formGroup" fxLayout="row" fxLayoutGap="1em">
  <div>
    <label>Adults</label>
    <div>
      <input
        type="number"
        min="0"
        max="7"
        [formControl]="formGroup.controls.adults"
      />
      <span *ngIf="showValidationErrors && !formGroup.controls.adults.valid"
        >*</span
      >
    </div>
  </div>
  <div fxLayout="column">
    <label>Children</label>
    <div>
      <input
        type="number"
        min="0"
        max="7"
        [formControl]="formGroup.controls.children"
      />
      <span *ngIf="showValidationErrors && !formGroup.controls.children.valid"
        >*</span
      >
    </div>
  </div>
  <div fxLayout="column">
    <label>Infants</label>
    <div>
      <input
        type="number"
        min="0"
        max="7"
        [formControl]="formGroup.controls.infants"
      />
      <span *ngIf="showValidationErrors && !formGroup.controls.infants.valid"
        >*</span
      >
    </div>
  </div>
</div>
